@use 'variables' as *;

// About Story //
.about {
    background-color: $clrDark;
    margin: 0 auto;
}

// Styling Image//
.left {
    width: 90%;
    margin: 0 auto;
    padding-top: 3em;

}

img .left {
    width: 100%;
    height: auto;
}

//Styling text//
h2 {
    color: $clrLight;
    text-transform: uppercase;
    opacity: 0.8;
    text-align: center;
}

.right {
    text-align: center;
}