@use 'variables' as *;

// Blog Section //

.blogImageOne img,
.blogImageTwo img {
    height: 25vh;
    object-fit: cover;
    width: 100%;
}

.blog p {
    color: $clrDarkAccent;
}

.blog h3 {
    margin-top: 2em;
}

.textOne,
.textTwo {
    text-align: center;
}

span {
    display: block;
}

.blog button {
    background-color: $clrDark;
    color: $clrLight;
}

@media (min-width:600px) {

    .blogOne,
    .blogTwo {
        display: flex;

    }

    .blogImageOne,
    .textOne,
    .blogImageTwo,
    .textTwo {
        width: 50%;
    }

    .blogImageOne img,
    .blogImageTwo img {
        height: 100%;
    }

    .textOne {
        order: -1;
    }

    .textOne p,
    .textTwo p,
    .textOne,
    .textTwo {
        text-align: left;
        padding: 0;
    }

    .textOne,
    .textTwo {
        padding: 0 10vh;
        text-align: left;
    }

}