@use 'variables' as *;

// Blog Section //

.blog-image-one img,
.blog-image-two img {
    height: 25vh;
    object-fit: cover;
    width: 100%;
}

.blog-image-two img {
    object-position: 0 30%;
}

.blog p {
    color: $clrBody;
}

.blog h3 {
    margin-top: 2em;
}

.text-one,
.text-two {
    text-align: center;
}

span {
    display: block;
}

.blog button {
    background-image: linear-gradient(to right, #fb9790, #02262B);
    color: $clrLight;
}

.blog button:hover,
.blog button:focus {
    background-color: $clrLight;
    color: $clrDark;
}

@media (min-width:600px) {

    .blog-one,
    .blog-two {
        display: flex;
        height: 50vh;

    }

    .blog-image-one,
    .text-one,
    .blog-image-two,
    .text-two {
        width: 50%;
    }

    .blog-image-one img,
    .blog-image-two img {
        height: 100%;
    }

    .text-one {
        order: -1;
    }

    .text-one p,
    .text-two p,
    .text-one,
    .text-two {
        text-align: left;
        padding: 0;
    }

    .text-one,
    .text-two {
        padding: 0 5vh;
        text-align: left;
    }

}

@media (min-width:1000px) {

    .text-one,
    .text-two {
        padding: 0 10vh;
        text-align: left;
    }
}