@use 'variables' as *;

// header section//

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100vw;
    object-fit: cover;
    object-position: 33% 64%;
    height: 600px;

}

img {
    max-width: 100%;
}

h1 {
    position: absolute;
    top: 0.2em;
    color: $clrLight;
    text-transform: uppercase;
    opacity: 0.7;
}

h1 span {
    display: block;
}