@use 'variables' as *;

// header section//

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100vw;
    object-fit: cover;
    object-position: 33% 64%;
    height: 600px;

}

img {
    max-width: 100%;
}

h1 {
    position: absolute;
    top: 0.2em;
    color: $clrLight;
    text-transform: uppercase;
    opacity: 0.7;
    text-align: right;
}

h1 span {
    display: block;
}

@media (min-width:600px) {

    h1 {
        font-size: 90px;
        left: 7em;
    }

    .social {
        position: absolute;
        color: $clrLight;
        font-size: 1.5rem;
        top: 15em;
        right: 1em;
        display: flex;
        flex-direction: column;

    }

    i.fa-brands {
        margin: 0.5em;
    }
}

//     i.fa-brands a:hover,
//     a:focus {
//         color: $clrDarkAccent;
//     }
// }