@use 'variables' as *;

// header section//
.hero {
    position: relative;
}

header {
    background-image: url("../assets/image-1.jpg");
    height: 75vh;
    background-size: cover;
    background-color: #5a5a5a;
    background-blend-mode: multiply;
    width: 100%;
}

img {
    max-width: 100%;
}

.header-text {
    position: relative;
}

h1 {
    position: absolute;
    top: 1em;
    left: 1.2em;
    text-align: center;
    letter-spacing: 2px;
    color: $clrLight;
    margin: 0;

}

.header-text p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #fb9790;

}

h1 span {
    display: block;
}

@media (min-width: 1000px) {
    h1 {
        font-size: 90px;
        position: absolute;
        left: 4em;
        top: 2em;
    }

    .social {
        position: absolute;
        color: #fcfcfc;
        font-size: 1.5rem;
        top: 15em;
        right: 1em;
        display: flex;
        flex-direction: column;
    }

    .fa-instagram:hover,
    .fa-instagram:focus,
    .fa-facebook-f:hover,
    .fa-facebook-f:focus,
    .fa-snapchat:hover,
    .fa-snapchat:focus,
    .fa-twitter:hover,
    .fa-twitter:focus {
        color: $clrPinkAccent;
    }

    i.fa-brands {
        margin: 0.5em;
    }
}