@use 'variables' as *;

nav .wrapper {
    // position: absolute;

    ul {
        display: flex;
        justify-content: space-around;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: $clrLight;
            }
        }
    }
}

/* The navbar */
.topnav {
    position: absolute;
    top: 1em;
    overflow: hidden;
}

/* Navbar links */


// nav {
//     width: 500px;
//     background-color: papayawhip;

//     li {
//         border: 1px solid black;

//         a {
//             color: $ffPrimary;

//             &:hover,
//             &:focus {
//                 color: blue;
//             }
//         }
//     }
// }
.hamburger {
    float: right;
    position: relative;
}

.hamburger .fa-solid {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    bottom: 11em;
    right: 1em;

}