@use 'variables' as *;

/* The navbar */
.topNav {
    position: absolute;
    top: 1em;
    overflow: hidden;
}

.topNav li {
    padding: 0.5em;
}

.hamburger {
    float: right;
    position: relative;
    display: block;
}

.hamburger .fa-solid {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    bottom: 11em;
    right: 1em;
}


.social,
.navMenu {
    display: none;
}

@media (min-width: 600px) {
    .topNav {
        ul {
            display: flex;
            flex-direction: row;

            li {
                list-style: none;

                a {
                    color: $clrLight;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .topNav a:hover,
    a:focus {
        color: $clrLightAccent;
    }

    .hamburger .fa-solid {
        display: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .navMenu {
        display: inline;
    }


}