//scss variables

//font family//
$ffPrimary: 'Playfair Display', serif;
$ffSecondary: 'vidaloka', serif;
$ffBody: 'vidaloka', sans-serif;

//font colors//
$clrLight: #fefefe;
$clrBody: #001B21;
$clrDark: #032F33;
$clrPinkAccent: #fb9790;
$clrBrownAccent: #5a5a5a;


//Mobile
@mixin fontSize($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/16) * 1rem;
}

h1 {
    @include fontSize(20);
}

h2 {
    @include fontSize(32);
}

h3 {
    @include fontSize(25);
}

h4 {
    @include fontSize(28);
}

p {
    @include fontSize(18);
}

.contact p,
.copyright {
    @include fontSize(14);
}

footer a,
footer ul {
    @include fontSize(15);
}

footer h4 {
    @include fontSize(28);
}

button {
    @include fontSize(6);
}

//line height//
$lhH1: 117px;
$lhBody: 29px;
$lhButton: 29px;
$lhContact: 26px;