//scss variables

//font family//
$ffPrimary: 'Fredericka the Great' cursive;
$ffSecondary: 'Cormorant Garamond', serif;
$ffBody: 'Roboto', sans-serif;

//font colors//
$clrLight: #fcfcfc;
$clrDark: #152D20;
$clrLightAccent: #C3D3CB;
$clrDarkAccent: #0000;

//font size//
$fsH1: 120px;
$fsHT: 51px;
$fsH2: 35px;
$fsBody: 20px;
$fsButton: 18px;

//line height//
$lhH1: 117px;
$lhBody: 29px;
$lhButton: 29px;