//scss variables

//font family//
$ffPrimary: 'Fredericka the Great', cursive;
$ffSecondary: 'Cormorant Garamond', serif;
$ffBody: 'Roboto', sans-serif;

//font colors//
$clrLight: #fcfcfc;
$clrDark: #152D20;
$clrLightAccent: #C3D3CB;
$clrDarkAccent: black;

//font size convert to REM//
// H1: 120px;
// HT: 51px;
// H2: 35px;
// Body: 20px;
// Button: 18px;

//Mobile
@mixin fontSize($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/16) * 1rem;
}

h1 {
    @include fontSize(40);
}

h2 {
    @include fontSize(40);
}

h3 {
    @include fontSize(25);
}

h4 {
    @include fontSize(28);
}

p {
    @include fontSize(18);
}

.contact p,
.copyright {
    @include fontSize(14);
}

footer p {
    @include fontSize(16);
}

button {
    @include fontSize(6);
}

//line height//
$lhH1: 117px;
$lhBody: 29px;
$lhButton: 29px;
$lhContact: 26px;