@use 'variables' as *;
@use 'setup';
@use 'nav';
@use 'header';
@use 'gallery';
@use 'footer';
@use 'blog';
@use 'about';


html {
    font-family: $ffPrimary;
}

// h1 {
//     line-height: $lhH1;
// }

h3 {
    font-family: $ffPrimary;
    text-transform: uppercase;
    color: $clrDark;
    opacity: 0.8;
}

h4 {
    font-family: $ffSecondary;
    text-transform: uppercase;
}

p {
    font-family: $ffBody;
    color: $clrLight;
    line-height: $lhBody;
    margin: 0 auto;
    text-align: center;
    padding: 0 1.2em;
}

button {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: $lhButton;
    border: 1px solid $clrDark;
    padding: 0.6em 2em;
    margin-top: 2em;
    margin-bottom: 3em;
}

button a:hover,
.blog button a:hover,
a:focus {
    background-color: $clrLightAccent;
}

@media (min-width:600px) {
    .wrapper:not(.wrapper.hero) {
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
    }
}