@use 'variables' as *;
@use 'setup';
@use 'nav';
@use 'header';
@use 'gallery';
@use 'footer';
@use 'blog';
@use 'about';

img {
    display: block;
}

html {
    font-family: $ffPrimary;
}

h3 {
    font-family: $ffPrimary;
    text-transform: uppercase;
    color: $clrDark;
    opacity: 0.8;
}

h4 {
    font-family: $ffSecondary;
    text-transform: uppercase;
}

p {
    font-family: $ffBody;
    color: $clrLight;
    line-height: $lhBody;
    margin: 0 auto;
    text-align: center;
    padding: 0 1.2em;
}

button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $ffSecondary;
    color: $clrDark;
    line-height: $lhButton;
    border: 1px solid $clrBrownAccent;
    padding: 0.6em 2em;
    margin: 3em 0;

}

button:hover,
button:focus {
    background-color: $clrPinkAccent;
    color: $clrDark;
    border: 1px solid $clrPinkAccent;
}

@media (min-width:600px) {

    .wrapper {
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
    }

    button {
        margin-top: 3em;
        padding: 0.6em 2em;
    }

    .email button {
        margin-top: 0;
    }
}