h1 {
  font-size: 20px;
  font-size: 1.25rem;
}

h2 {
  font-size: 32px;
  font-size: 2rem;
}

h3 {
  font-size: 25px;
  font-size: 1.5625rem;
}

h4 {
  font-size: 28px;
  font-size: 1.75rem;
}

p {
  font-size: 18px;
  font-size: 1.125rem;
}

.contact p,
.copyright {
  font-size: 14px;
  font-size: 0.875rem;
}

footer a,
footer ul {
  font-size: 15px;
  font-size: 0.9375rem;
}

footer h4 {
  font-size: 28px;
  font-size: 1.75rem;
}

button {
  font-size: 6px;
  font-size: 0.375rem;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
nav-menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Navigation*/
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

nav li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
}

a {
  text-decoration: none;
}

.social {
  display: none;
}

.hamburger-icon {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  right: 0.5em;
  top: 0.7em;
  z-index: 10;
}

.hamburger {
  position: relative;
}

.mobile-nav-menu {
  position: absolute;
}

.mobile-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5a5a5a;
  position: fixed;
  height: 800px;
  width: 100%;
  margin-top: 0;
  padding-left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile-nav-menu li {
  padding: 1em;
}

.none {
  display: none;
}

a {
  color: #fefefe;
}

nav a:hover {
  color: #fb9790;
  -webkit-transition: font-weight 0.2s;
  transition: font-weight 0.2s;
}

@media (min-width: 1000px) {
  ul.nav-menu {
    margin: 0;
    padding: 1em;
  }
  .hamburger {
    display: none;
  }
  ul.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mobile-nav-menu {
    width: 800px;
  }
  form {
    margin: 0;
    padding: 0;
  }
  form h2 {
    padding-top: 1em;
  }
  input,
form button {
    width: 30%;
  }
  form button {
    margin-bottom: 3em;
    width: 20%;
  }
}
@media (max-width: 1000px) {
  .nav-menu {
    display: none;
  }
}
.hero {
  position: relative;
}

header {
  background-image: url("../assets/image-1.jpg");
  height: 75vh;
  background-size: cover;
  background-color: #5a5a5a;
  background-blend-mode: multiply;
  width: 100%;
}

img {
  max-width: 100%;
}

.header-text {
  position: relative;
}

h1 {
  position: absolute;
  top: 1em;
  left: 1.2em;
  text-align: center;
  letter-spacing: 2px;
  color: #fefefe;
  margin: 0;
}

.header-text p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fb9790;
}

h1 span {
  display: block;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 90px;
    position: absolute;
    left: 4em;
    top: 2em;
  }
  .social {
    position: absolute;
    color: #fcfcfc;
    font-size: 1.5rem;
    top: 15em;
    right: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fa-instagram:hover,
.fa-instagram:focus,
.fa-facebook-f:hover,
.fa-facebook-f:focus,
.fa-snapchat:hover,
.fa-snapchat:focus,
.fa-twitter:hover,
.fa-twitter:focus {
    color: #fb9790;
  }
  i.fa-brands {
    margin: 0.5em;
  }
}
.gallery {
  background-color: #5a5a5a;
}

.gallery h2 {
  text-align: center;
  margin: 0;
  color: #fefefe;
  padding-top: 1.2em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container img {
  width: 90%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  padding-top: 1.2em;
}

.container img:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container img.image-3 {
  padding-bottom: 1.2em;
}

.icons {
  background-color: #032F33;
  font-size: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.icons h4 {
  margin: 1em;
}

.icons .fa-solid {
  color: #fefefe;
}

.icons span {
  display: block;
}

.fa-solid:hover,
.fa-solid:focus {
  color: #fb9790;
}

@media (min-width: 600px) {
  .gallery {
    padding-bottom: 1.2em;
  }
  .text span {
    display: block;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1.2em 0;
  }
  .icons h4 {
    font-size: 35px;
  }
}
@media (min-width: 800px) {
  .container img.image-3 {
    display: none;
  }
  .container img {
    width: 375px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
}
@media (min-width: 1000px) {
  .container img.image-3 {
    display: inline;
    padding-bottom: 0;
  }
}
footer {
  background-color: #032F33;
}

footer h4 {
  text-align: center;
  color: #fefefe;
  margin: 0.5em auto;
}

footer ul {
  display: none;
}

footer li {
  list-style: none;
  margin-top: 3em;
}

footer a {
  color: #fefefe;
  font-family: "vidaloka", serif;
  text-decoration: none;
  text-transform: uppercase;
}

fieldset {
  border: none;
}

input,
fieldset button {
  width: 100%;
  padding: 0.75em;
  text-align: center;
}

fieldset button {
  background-color: #fb9790;
  color: #fefefe;
  border: 1px solid #fb9790;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.info {
  margin: 0 auto;
}

.updated,
.contact-title {
  line-height: 26px;
  text-transform: uppercase;
}

.copyright {
  background-color: #5a5a5a;
  padding: 0.5em;
}

@media (min-width: 600px) {
  form .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  form {
    padding-top: 2em;
    padding-bottom: 3em;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  footer li {
    margin: 0;
    margin-top: 1em;
    text-align: left;
  }
  footer a {
    padding: 0;
  }
  footer h4 {
    margin: 0 auto;
  }
  footer li {
    margin: 0.2em;
  }
  #email {
    width: 70%;
    padding: 0;
    line-height: 0;
  }
  .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
  }
  input,
fieldset button {
    font-size: 16px;
    max-height: 2em;
  }
  .email button {
    width: 40%;
    padding: 0;
  }
  .contact h4,
.contact p {
    text-align: right;
    padding: 0;
    margin-top: 0;
  }
  .contact h4,
.updated {
    font-size: 20px;
  }
}
.blog-image-one img,
.blog-image-two img {
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.blog-image-two img {
  -o-object-position: 0 30%;
     object-position: 0 30%;
}

.blog p {
  color: #001B21;
}

.blog h3 {
  margin-top: 2em;
}

.text-one,
.text-two {
  text-align: center;
}

span {
  display: block;
}

.blog button {
  background-image: -webkit-gradient(linear, left top, right top, from(#fb9790), to(#02262B));
  background-image: linear-gradient(to right, #fb9790, #02262B);
  color: #fefefe;
}

.blog button:hover,
.blog button:focus {
  background-image: #fefefe;
  color: #032F33;
}

@media (min-width: 600px) {
  .blog-one,
.blog-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
  }
  .blog-image-one,
.text-one,
.blog-image-two,
.text-two {
    width: 50%;
  }
  .blog-image-one img,
.blog-image-two img {
    height: 100%;
  }
  .text-one {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .text-one p,
.text-two p,
.text-one,
.text-two {
    text-align: left;
    padding: 0;
  }
  .text-one,
.text-two {
    padding: 0 5vh;
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .text-one,
.text-two {
    padding: 0 10vh;
    text-align: left;
  }
}
.about {
  background-color: #032F33;
  background-blend-mode: multiply;
  margin: 0 auto;
}

.about h2 {
  margin: 0.2em auto;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left img {
  max-width: 100%;
  width: 30vh;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin: 3em auto;
  border-radius: 50%;
}

h2 {
  color: #fefefe;
  text-transform: uppercase;
  opacity: 0.8;
  text-align: center;
}

.right {
  text-align: center;
}

@media (min-width: 1000px) {
  .about h2 {
    margin: auto;
  }
  h2 {
    font-size: 51px;
  }
  .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .left {
    width: 90%;
    margin: 0 auto;
  }
  .left img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .left {
    -ms-flex-preferred-size: 29%;
        flex-basis: 29%;
    padding: 3em 1em 3em 0;
  }
  .right {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .right,
.right p,
.right h2 {
    text-align: left;
    margin-left: 0.1em;
  }
  .right h2 {
    margin-top: 2em;
  }
  .right p {
    margin-left: -0.7em;
  }
}
img {
  display: block;
}

html {
  font-family: "Playfair Display", serif;
}

h3 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #032F33;
  opacity: 0.8;
}

h4 {
  font-family: "vidaloka", serif;
  text-transform: uppercase;
}

p {
  font-family: "vidaloka", sans-serif;
  color: #fefefe;
  line-height: 29px;
  margin: 0 auto;
  text-align: center;
  padding: 0 1.2em;
}

button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "vidaloka", serif;
  color: #032F33;
  line-height: 29px;
  border: 1px solid #5a5a5a;
  padding: 0.6em 2em;
  margin: 3em 0;
}

button:hover,
button:focus {
  background-color: #fb9790;
  color: #032F33;
  border: 1px solid #fb9790;
}

@media (min-width: 600px) {
  .wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
  }
  button {
    margin-top: 3em;
    padding: 0.6em 2em;
  }
  .email button {
    margin-top: 0;
  }
}